# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
*.pyc
.settings/
.vscode/
/venv/
__pycache__/
.env
*__pycache__
.pytest_cache

# Executables
*.swf
*.air
*.ipa
*.apk
